/*********************************
    Brand Font Style
*********************************/

$brand-font: 'Open Sans';
$secondary-font: 'gothic';

/*********************************
    Brand Color Style
*********************************/

$default-color: #ffffff;
$brand-color: #38b665;
$brand-title: #4c525b;
$brand-text: #71777f;
$brand-background: #39b766;
$brandline-color: #f4f4f4;

/*********************************
    Brand Button Style
*********************************/

$btn-radius: 0px;
$btn-background: transparent;
$btn-color: #666666;
$btn-font-size: 15px;

/*********************************
    Website Width
*********************************/
$web-container: 1024px;

/*********************************
    Custom Website Spec
*********************************/
$brand-para-text: #404041;
