@import '_brandguide.scss';
@import '_functions.scss';
@import '_placeholders.scss';
@import '_mixins.scss';

/*********************************
    Global
*********************************/

body{
    @extend %Font-Regular;
    overflow-x: hidden;
}
a{
    outline: none !important;
}
.i-navigation-section{
    @include i-navigation();
}
.clr:after {
   content: ".";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}
.clr + *{
    clear: both;
}
.btn{
    @include button;
    border: none;
    box-shadow: none;
    padding: 15px 48px;
    display: inline-block;
    position: relative;
    z-index: 10;
    background-color: $brand-color;
    text-transform: uppercase;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    @include web-font(Font-Medium, 15px, $default-color, initial, 1px);
}

a{
    color: $brand-text;
}
input{
    outline: none !important;
}

.wide-container{
    width: 1200px;
}
.no-bg{
    background-color: transparent;
}
.np-top{
    padding-top: 0px;
}
.np-bot{
    padding-bottom: 0px;
}
.hide{
    display: none;
}
//@include web-font(Font-Light-Italic, 15px, $brand-text, 34px, initial);
//@include media-queries-max(768px)
//@include layout(12);

/* ======== NAV : GLOBAL ========= */
nav{
    position: absolute;
    display: block;
    width: 100%;
    z-index: 1000;
}
.nav-wrapper{
    padding: 35px 50px;

}

/* ======== HOME PAGE ========= */
.homePage{
    border: 15px solid #fff;
}
.full-screen-section{
    background-image: url('../../../images/bg.jpg');
    @include img-cover();
    height: 75vh;
}

.listPlaces{
    .full-screen-section{
        height: auto;
    }

    .full-screen-wrapper{
        @include img-cover();
    }

    .btn{
        background-color: transparent;
        border: 2px solid $brand-color;
        padding: 10px 40px;
        margin: 15px;
    }

    #map{
        height: 0 !important;
        opacity: 0;
    }
}

.full-screen-block{
    text-align: center;
    @include padding(225px, 0, 180px);
    h1{
        @include web-font(Font-Light, 46px, $default-color, 34px, initial);
    }
    h4{
        @include web-font(Font-Light, 22px, $default-color, initial, initial);
        margin-top: 15px;
    }
    .form-group{
        display: table;
        margin: 0 auto;
        padding-top: 100px;
        .form-input{
            display: table-cell;
            input{
                padding: 25px 40px;
                border: none;
                text-transform: uppercase;
                @include web-font(Font-Light, 15px, $brand-text, initial, initial);
                min-width: 350px;
                &:first-child{
                    border-top-left-radius: 10px;
                    border-bottom-left-radius: 10px;
                }
                &:nth-child(2){
                    margin-left: -5px;
                    border-left: 1px solid #ccc;
                }
            }
        }
        .form-button{
            display: table-cell;
            button{
                @extend .btn;
                padding: 24px 40px 26px;
                margin-left: 0px;
                border-top-left-radius: 0px;
                border-bottom-left-radius: 0px;
            }
        }
    }
}

/* ======== LIST PLACES ========= */
.listPlaces{
    margin-top: 3px;
}
.list-places-wrapper{
    background-color: #ffffff;
    position: relative;
    z-index: 100;

    .masonry { /* Masonry container */
        column-count: 4;
        column-gap: 1em;
    }

    .item { /* Masonry bricks or child elements */
        display: inline-block;
        width: 100%;
    }

    .list-places-block{
        .individual-place-block{
            //@include layout(3);
            margin-bottom: 12px;
            font-family: 'Montserrat';

            &:nth-child(4){
                clear: both;
            }

            .individual-place-block-wrapper{
                background-color: #f5f5f5;
                box-shadow: 3px 3px 3px rgba(204, 204, 204, 0.1);
                border: 1px solid #f3f3f3;
            }

            .place-image-block{
                position: relative;
                max-height: 22px;
                min-height: 200px;
                overflow: hidden;
                span{
                    position: absolute;
                    right: 6px;
                    top: 8px;
                    @include web-font(Font-Regular, 11px,#131313, initial, 1px);
                    background-color: rgba(255, 255, 255, 0.72);
                    padding: 3px 8px;
                    z-index: 10;
                    font-weight: 500;
                    text-transform: uppercase;
                }

                .img-photo{
                    @include img-cover();
                    height: 100%;
                    width: 100%;
                    position: absolute;
                    left: 0;
                    right: 0;
                }

            }

            .place-content-block{
                position: relative;

                .curve{
                    width: 100%;
                    position: absolute;
                    bottom: 95%;
                }

                .rating-icon{
                    display: table;
                    margin: 0 auto 25px;
                    text-align: center;

                    i{
                        padding: 0 3px;
                        color: $brand-color;
                    }
                }

                a{
                    font-size: 14px;
                    letter-spacing: initial;
                    display: block;
                    padding: 12px 10px;
                    background-color: #e74949;
                    color: #fff;
                    width: 100%;
                    text-align: center;
                    text-transform: uppercase;
                    font-weight: 400;
                    font-family: $secondary-font;
                }
            }

            h4{
                padding-top: 25px;
                @include web-font(Font-Bold, 20px, #515151, initial, initial);
                padding-left: 8px;
                overflow: hidden;
                min-height: 27px;
                text-align: center;
                text-transform: uppercase;
                font-family: $secondary-font;
            }
            p{
                padding-top: 10px;
                @include web-font(Font-Semi-Bold, 14px, #989898, initial, 1px);
                text-transform: uppercase;
                padding-left: 8px;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                min-height: 19px;
                text-align: center;
                padding-bottom: 22px;
            }
        }
    }
}

.filter-nav{
    padding: 10px 0px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.05);
    border-top: 1px solid #f1f1f1;
    ul{
        display: table;
        max-width: 1366px;
        width: 100%;
        margin: 0 auto;
        li{
            @include layout(1.5);
            text-align: center;
            img{
                display: block;
                margin: 0 auto;
                max-width: 35px;
                opacity: 0.7;
            }

            p{
                @include web-font(Font-Bold, 14px, $brand-text, initial, 1px);
                text-transform: uppercase;
                padding-top: 8px;
            }
        }
    }
}

.explore-places-block{
    margin-top: 50px;

    h4{
        @include web-font(Font-Regular, 36px, $brand-text, initial, 1px);
        text-align: center;
        margin-bottom: 15px
    }

    p{
        @include web-font(Font-Regular, 18px, $brand-text, initial, 1px);
        text-align: center;
        margin-bottom: 60px;
        padding-top: 15px;
        position: relative;

        &:after{
            content: '';
            position: absolute;
            width: 125px;
            height: 3px;
            background-color: #E74949;
            top: 0px;
            margin: 0 auto;
            left: 0;
            right: 0;
        }
    }

    .explore-left-block{
        @include layout(6, 0, 0);
        .single-explore-block{
            @include layout(12, 10, 10);
            margin-bottom: 10px;
        }
    }

    .explore-right-block{
        @include layout(6, 0, 0);

        .explore-top-right-block{
            .single-explore-block{
                @include layout(6, 10, 10);
            }
        }

        .explore-bottom-right-block{
            margin-top: 14px;
            @include layout(12, 0, 0);
            .single-explore-block{
                @include layout(12, 10, 10);
            }
        }

    }

    .explore-full-block{
        @include layout(12, 0, 0);
        margin-top: 5px;

        .single-explore-block{
            @include layout(4, 10, 10);
        }
    }

    .single-explore-block{
        position: relative;
        cursor: pointer;
    }

    figcaption{
        position: absolute;
        bottom: 10px;
        left: 20px;

        h2{
            @include web-font(Font-Semi-Bold, 24px, $default-color, initial, 1px);

        }
        p{
            @include web-font(Font-Regular, 18px, $default-color, initial, 1px);
            margin-bottom: 15px;
            text-align: left;
            padding-top: 0px;

            &:after{
                display: none;
            }
        }
    }
}


/*********************************
            Login Modal
*********************************/

.login-section-wrapper{
    .login-bg{

    }
    .screen-logo-section{
      background-color: #E74949;
      color: #fff;
    }

    .layout-half{
        @include layout(6, 0, 0);
    }

    .sign-screen{
        margin: auto;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 52%;
        height: auto;
        display: table;
        background-color: #292c3d;
    }
    .screen-logo-section{
      padding: 60px 10px 20px;
    }
    .sign-screen .col-sm-6{
      padding: 0px;
    }
    .screen-logo-section img{
      display: block;
        margin: 0 auto;
        width: 30px;
    }
    .screen-logo-section h2{
      text-align: center;
      font-size: 18px;
      margin-top: 10px;
      letter-spacing: 1px;
    }
    .screen-title-section{
      padding: 180px 15px;
    }

    .screen-title-section h1{
      text-align: right;
      padding-left: 20%;
      font-weight: 100;
      font-size: 36px;
    }
    .screen-logo-section p{
      text-align: right;
      margin-bottom: 0px;
      @include web-font(Font-Light, 16px, $default-color, 21px, 1px);
       font-family: 'Roboto', sans-serif;
    }
    .sing-screen-wrapper{
      background-color: #292c3d;
    }
    .sign-screen .panel{
      border:none;
      background-color: #292c3d;
      border-color: transparent;
      box-shadow: none;
    }
    .sign-screen .panel-body {
        padding: 80px 0px 0px;
    }

    .login-title{
        padding-bottom: 100px;
        padding-left: 15px;
        @include web-font(Font-Light, 32px, $default-color, initial, 1px);
        font-family: 'Roboto', sans-serif;
    }

    .sign-screen .form-group .col-md-12{
      padding: 0px;
    }
    .sign-screen .form-group input{
      border-radius: 0px;
      background-color: #2b3043;
      border-left: transparent;
      border-right: transparent;
      color: #fff;
      border: 1px solid rgba(243, 243, 243, 0.18);
      transition: none;
      height: 45px;
      padding: 0px 15px;
      width: 75%;
    }
    input:-webkit-autofill {
        -webkit-box-shadow: 0 0 0px 1000px #2b3043 inset;
        color: #fff;
    }
    .sign-button {
        background: transparent;
        color: #E74949;
        border: 1px solid #E74949;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;
        padding: 10px 50px;
    }
    .sign-button:hover, .sign-button:active, .sign-button:focus{
      color: #E74949;
    }
    .form-group {
        margin-bottom: 25px;
    }
    .text-white{
      color: #fff;
      opacity: 0.5;
      font-family: 'Roboto', sans-serif;
    }
    input:-webkit-autofill {
        background-color: #2b3043 !important;
        border: 1px solid rgba(243, 243, 243, 0.18) !important;
    }

    .loginwith {
      display: block;
      margin-bottom: 40px;
      font-size: 28px;
      color: #FFF;
      text-align: center;
    }

    button.social-signin {
      margin-bottom: 20px;
      width: 220px;
      height: 36px;
      border: none;
      border-radius: 2px;
      color: #FFF;
      font-family: 'Roboto', sans-serif;
      font-weight: 500;
      transition: 0.2s ease;
      cursor: pointer;
    }

    button.social-signin:hover,
    button.social-signin:focus {
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
      transition: 0.2s ease;
    }

    button.social-signin:active {
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
      transition: 0.2s ease;
    }

    button.social-signin.facebook {
      background: #32508E;
    }

    button.social-signin.twitter {
      background: #55ACEE;
    }

    button.social-signin.google {
      background: #DD4B39;
    }

    .mt-75{
        margin-top: 75px;
    }
}



/*********************************
    nG Dialog
*********************************/

.ngdialog.ngdialog-theme-plain .ngdialog-close:before{
    content: url('../../../images/close-modal.png');
}
.ngdialog-content{
    max-width: 800px;
    /*box-shadow: 0 0 20px rgba(0, 0, 0, 0.10);
    z-index: 1000;
    position: fixed;
    margin: 0 auto;
    left: 0;
    right: 0;
    display: block;
    float: none;*/
}

.ngdialog-overlay{
    background: rgba(255, 255, 255, 0.8);
}

/*********************************
        Masonry Responsive
*********************************/
.masonry {
    margin: 1.5em 0;
    padding: 0;
    -moz-column-gap: 1.5em;
    -webkit-column-gap: 1.5em;
    column-gap: 1.5em;
    font-size: .85em;
}

.item {
    display: inline-block;
    background: #fff;
    /*padding: 1em;*/
    /*margin: 0 0 1.5em;*/
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

@media only screen and (min-width: 400px) {
    .masonry {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
}

@media only screen and (min-width: 700px) {
    .masonry {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
    }
}

@media only screen and (min-width: 900px) {
    .masonry {
        -moz-column-count: 4;
        -webkit-column-count: 4;
        column-count: 4;
    }
}

@media only screen and (min-width: 1100px) {
    .masonry {
        -moz-column-count: 5;
        -webkit-column-count: 5;
        column-count: 5;
    }
}

@media only screen and (min-width: 1280px) {
    .wrapper {
        width: 1260px;
    }
}
