@import '_brandguide.scss';
@import '_functions.scss';
@import '_placeholders.scss';
@import '_mixins.scss';

/*********************************
    Global
*********************************/

body{
    @extend %Font-Regular;
    overflow-x: hidden;
}
a{
    outline: none !important;
}
.i-navigation-section{
    @include i-navigation();
}
.clr:after {
   content: ".";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}
.clr + *{
    clear: both;
}
.btn{
    @include button();
    border: 2px solid #dbdbdb;
    padding: 15px 48px;
    display: inline-block;
    position: relative;
    z-index: 10;
    text-transform: uppercase;
    border-radius: 23px;
    outline: none;
    cursor: pointer;
    @include web-font(Font-Bold, 14px, #dbdbdb, 14px, initial);

    &.btn-green{
        color: $brand-color;
        border-color: $brand-color;
    }
}

a{
    color: $brand-text;
}
input{
    outline: none !important;
}

.wide-container{
    width: 1200px;
}
.no-bg{
    background-color: transparent;
}
.np-top{
    padding-top: 0px;
}
.np-bot{
    padding-bottom: 0px;
}

//@include web-font(Font-Light-Italic, 15px, $brand-text, 34px, initial);
//@include media-queries-max(768px)
//@include layout(12);

.sliderdemoBasicUsage input[type="number"] {
    text-align: center;
    padding-left: 10px;
}

@include media-queries-max(1200px){
    .container{
        max-width: 100%;
        width: 100%;
    }

    .wide-container{
        max-width: 100%;
        width: 100%;
    }
}

.form-element-button{
    button{
        display: table;
        margin: 0 auto;
    }
}

.deActive{
    position: relative;
    opacity: 0.35;

    .deActive-wrapper{
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: transparent;
        z-index: 100;
    }
}

.contenteditable{
    display: inline;
}

.np{
    padding: 0;
}

/*********************************
    Elements - Forms
*********************************/
.form-switch-controls{
    display: table;
    margin: 0 auto;
    > span{
        @include web-font(Font-Regular, 15px, $brand-title, 34px, initial);
        padding: 0px 25px;
    }

    .form-switch{
        margin: 15px 0px -8px;
    }
}
.form-element-info{
    p{
        @include web-font(Font-Semi-Bold, 16px, $brand-text, 34px, initial);
        padding: 16px 10px;
        text-align: center;
    }
}
/*********************************
    Navigation
*********************************/
.navigation-section{
    img{
        display: block;
        margin: 18px auto;

        @include media-queries-max(768px){
            margin: 0 auto;
        }
    }
}
/*********************************
    Elements - Tabs
*********************************/
.application-tab-contanier{
    margin-top: 30px;
    clear: both;
    display: table;
    width: 100%;
    background-color: $brandline-color;

    dropdown label{
        margin-top: 12px;
    }
}

.i-tabs-mobile-header{
    position: relative;
    width: 100%;
    display: none   ;
    height: 70px;

    @include media-queries-max(768px){
        display: block;
    }
}
.application-tab-section{

    @include media-queries-max(768px){
        display: none;
    }

    ul{
        background-color: #f4f4f4;
        li{
            display: inline-block;
            @include layout(3);
            padding: 15px 0px;
            background-color: $default-color;
            border: 2px solid #f4f4f4;
            cursor: pointer;

            a{
                @include web-font(Font-Semi-Bold, 13px, $brand-text, 21px, initial);
                text-align: center;
                display: table;
                margin: 0 auto;
                padding-left: 30px;
                position: relative;

                &:before{
                    content: url('../../../images/inactive-tab.png');
                    position: absolute;
                    width: 13px;
                    height: 13px;
                    top: 2px;
                    left: 0;

                }
            }

            &.active{
                background-color: $brand-background;
                a{
                    &:before{
                        content: url('../../../images/active-tab.png');
                    }
                }
                a{
                    color: #fff;
                }
            }

            &.finished{
                a{
                    &:before{
                        content: url('../../../images/finish-tab.png');
                    }
                }
            }
        }
    }
}

/*********************************
    Application - Header
*********************************/
.application-header-section{
    .application-header{
        margin-top: 42px;

        @include media-queries-max(992px){
            padding-left: 15px;
            padding-right: 15px;
        }

        h4{
            @include web-font(Font-Regular, 26px, $brand-title, 42px, initial);
            text-align: center;
        }
        p{
            @include web-font(Font-Light, 18px, $brand-text, 34px, initial);
            text-align: center;
            max-width: 780px;
            margin: 2px auto;
        }

        .form-switch-controls{
            margin-top: 25px;
        }
    }
}

/*********************************
    Age Form - Header
*********************************/
.form-age-controls{
    display: table;
    width: 100%;
    margin: 60px auto;
    .individual-age-group{
        @include layout(3);

        @include media-queries-max(768px){
            @include layout(12);
        }

        h4{
            @include web-font(Font-Semi-Bold, 27px, $brand-title, 38px, 1px);
            margin-top: 15px;
            text-align: center;
        }
        a{
            @include web-font(Font-Light-Italic, 15px, $brand-text, 34px, initial);
            display: block;
            text-align: center;
            position: relative;
            display: table;
            margin: 0 auto;
            cursor: pointer;

            span{
                float: left;
                display: inline-block;
            }
            i{
                font-weight: bold;
                color: #38b665;
                font-size: 24px;
                padding-right: 5px;
                float: left;
                display: inline-block;
            }
        }

        .img-wrapper{
            position: relative;
            padding: 10px;
            cursor: pointer;

            a{
                line-height: 0px;

                @include media-queries-max(768px){
                    max-width: 300px;
                }
            }

            img{
                border: 10px solid #fff;
                box-shadow: 0 0 10px rgba(0,0,0,0.2);
                border-radius: 50%;

                @include media-queries-max(768px){
                    max-width: 260px;
                }
            }

            .checkmark-circle{
                position: absolute;
                top: 0px;
                left: 0;
                right: 0;
                bottom: 0;
                margin: 0 auto;
                opacity: 0;
                border: 10px solid #fff;
                border-radius: 50%;
            }

            &:hover{
                .checkmark-circle{
                    opacity: 1;
                }
            }

            &.active{
                .checkmark-circle{
                    opacity: 1;
                }
            }
        }
    }
}

/*********************************
    Application - Age Footer
*********************************/
.appliction-footer{
    .age-footer-block{
        border-top: 2px solid #f4f4f4;
        display: table;
        width: 100%;
        padding: 40px 0px;
        .age-footer-title{
            @include layout(2);
            h4{
                @include web-font(Font-Regular, 26px, $brand-title, 28px, initial);

                @include media-queries-max(992px){
                    text-align: center;
                    padding-bottom: 15px;
                    br{
                        display: none;
                    }
                }
            }

            @include media-queries-max(992px){
                @include layout(12);
            }
        }
    }
    .age-footer-body{
        @include layout(10);

        @include media-queries-max(992px){
            @include layout(12);
        }

        ul{
            li{
                @include layout(4);
                @include web-font(Font-Light, 14px, $brand-text, 28px, initial);
                position: relative;

                @include media-queries-max(992px){
                    @include layout(12);
                    text-align: center;
                }
            }
        }
    }
}

/*********************************
    Age Form - Younger
*********************************/
.income-older-block{
    border-top: 2px solid #f4f4f4;
    display: table;
    width: 100%;
    margin-top: 25px;
}

.income-younger-block{
    display: table;
    width: 100%;
    margin-top: 25px;
}

.income-older-block{
    button{
        display: table;
        margin: 0 auto;
    }
}
.income-younger-block{
    button{
        display: table;
        margin: 0 auto;
    }
}

/*********************************
    Footer
*********************************/
footer{
    background-color: #f4f4f4;

    .footer-wrapper{
        p{
            padding: 15px 0px;
            @include web-font(Font-Regular, 14px, $brand-title, 28px, initial);
            text-align: center;
        }
    }
}

/*********************************
    Account Access Landing
*********************************/
.account-access-landing{
    margin-top: 30px;
    padding-top: 75px;
    margin-bottom: 140px;
    .account-access-block{
        .individual-account-access{
            @include layout(3.6, 0, 0, 0.2, 0.2);
            -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.2);
            box-shadow: 0 0 5px rgba(0,0,0,0.2);
            cursor: pointer;

            .single-account-access{
                border: 1px solid $brand-color;
                text-align: center;
                margin: 10px;
                img{
                    display: block;
                    margin: 38px auto 20px;
                }

                h4{
                    @include web-font(Font-Regular, 26px, $brand-color, 42px, initial);
                }
                p{
                    padding-top: 3px;
                    @include web-font(Font-Light, 14px, $brand-text, 26px, 0px);
                    margin: 0px auto 56px;
                    max-width: 240px;
                }
            }
        }
    }
}

/*********************************
    Account Access Landing
*********************************/
.aa-info-section{
    padding: 35px 0px;
    border-bottom: 1px solid #f4f4f4;

    .i-tabs-mobile-header{
        display: none;
        @include media-queries-max(768px){
            display: block;
        }
    }

    .aa-info-block{

        @include media-queries-max(768px){
            display: none;
        }

        ul{
            background-color: #38b665;
            border-radius: 20px;
            display: table;
            margin: 0 auto;
            li{
                border: 2px solid  #38b665;
                border-radius: 20px;
                display: table-cell;

                a{
                    padding: 4px 30px;
                    @include web-font(Font-Regular, 13px, $default-color, 26px, 0px);
                    display: inline-block;
                }

                &.active{
                    background-color: $default-color;
                    background-image: url('../../../images/tab-shadow.png');
                    background-size: cover;
                    background-position: 50% 50%;
                    a{
                        color: $brand-color;
                        position: relative;
                        &:before{
                            position: absolute;
                            top: -1px;
                            left: -1px;
                            width: 100%;
                            height: 100%;
                            border: 1px solid
                        }
                    }
                }
            }
        }
    }
}

/*********************************
    Deep Dive
*********************************/
.deep-dive-section{
    .tax-deffered-section{
        @include layout(8);

        @include media-queries-max(992px){
            @include layout(12);
        }

        @include media-queries-max(640px){
            .form-group-wrapper{
                padding: 0;
            }
        }

    }
    .other-assets-section{
        @include layout(4);

        @include media-queries-max(992px){
            @include layout(12);
        }

        @include media-queries-max(640px){
            .form-group-wrapper{
                padding: 0;
            }
        }
    }
    .taxable-accounts-section{
        @include layout(6);

        @include media-queries-max(992px){
            @include layout(12);
        }

        @include media-queries-max(640px){
            .form-group-wrapper{
                padding: 0;
            }
        }
    }
    .illiquid-assets-section{
        @include layout(6);

        @include media-queries-max(992px){
            @include layout(12);
        }

        @include media-queries-max(640px){
            .form-group-wrapper{
                padding: 0;
            }
        }

        .checkbox-group{
            @include media-queries-max(640px){
                @include layout(12);
                margin-bottom: 15px;
            }
        }
    }
}

.tax-deffered-section{
    .checkbox-group{
        width: 50%;
        float: left;

        @include media-queries-max(640px){
            @include layout(12);
            margin-bottom: 15px;
        }

        &:nth-child(2n + 1){
            clear: both;
        }

        p{
            max-width: 235px;
        }
    }

    .form-group-wrapper{
        @include media-queries-max(640px){
            padding-left: 0;
            padding-right: 0;
        }
    }
}

.taxable-accounts-section{
    .checkbox-group{
        width: 100%;
        float: left;

        @include media-queries-max(640px){
            @include layout(12);
            margin-bottom: 15px;
        }

        &:nth-child(2n + 1){
            //clear: both;
        }

        p{
            max-width: 235px;
        }
    }
}

/*********************************
    Accordian
*********************************/

v-accordion {
    display: table;
    max-width: 880px;
    margin: 0 auto;
}

/*********************************
    ZACKS FAQ MoDAL
*********************************/
.zacks-faq-section{
    .zacks-faq-header{
        h4{
            @include web-font(Font-Regular, 26px, $brand-color, 62px, initial);
            text-align: center;
            padding-bottom: 12px;
        }
    }
    .zacks-faq-content{
        max-height: 548px;
        overflow-y: scroll;
        h5{
            @include web-font(Font-Semi-Bold, 16px, $brand-text, 34px, initial);
            padding: 10px 0px;
        }
        p{
            @include web-font(Font-Light, 14px, $brand-text, 28px, initial);
        }
        v-pane-content{
            margin-top: -5px;
        }
    }

    .vAccordion--default v-pane.is-expanded > v-pane-header::before{
        content: url('../../../images/minus.png');
    }
    .vAccordion--default v-pane-header::after{
        content: url('../../../images/add_spouse.png');
    }
}

.zacks-faq-content::-webkit-scrollbar-track
{
	border-radius: 10px;
	background-color: #f4f4f4;
}

.zacks-faq-content::-webkit-scrollbar
{
	width: 7px;
	background-color: #f4f4f4;
}

.zacks-faq-content::-webkit-scrollbar-thumb
{
	border-radius: 6px;
	background-color: #38b665;
}

/*********************************
    ZACKS HELP MoDAL
*********************************/
.zacks-help-section{
    .zacks-help-header{
        h4{
            @include web-font(Font-Regular, 26px, $brand-color, 60px, initial);
            text-align: center;
            padding-bottom: 12px;
        }
    }
    .zacks-help-content{
        max-height: 548px;
        overflow-y: auto;
        padding-bottom: 30px;

        h5{
            @include web-font(Font-Semi-Bold, 16px, $brand-text, 34px, initial);
            padding: 15px 0px 10px;
            max-width: 882px;
            margin: 0 auto;
            border-top: 2px solid #f4f4f4;
        }
        p{
            @include web-font(Font-Light, 14px, $brand-text, 28px, initial);
            max-width: 882px;
            margin: 0 auto;
        }
    }
}

.zacks-help-section{
    .zacks-help-header{
        h4{
            @include web-font(Font-Regular, 26px, $brand-color, 60px, initial);
            text-align: center;
            padding-bottom: 12px;
        }
    }
    .zacks-help-content{
        max-height: 548px;
        overflow-y: auto;
        padding-bottom: 30px;

        h5{
            @include web-font(Font-Semi-Bold, 16px, $brand-text, 34px, initial);
            padding: 15px 0px 10px;
            max-width: 882px;
            margin: 0 auto;
            border-top: 2px solid #f4f4f4;
        }
        p{
            @include web-font(Font-Light, 14px, $brand-text, 28px, initial);
            max-width: 882px;
            margin: 0 auto;
        }
    }
}

.zacks-help-content::-webkit-scrollbar-track
{
	border-radius: 10px;
	background-color: #f4f4f4;
}

.zacks-help-content::-webkit-scrollbar
{
	width: 7px;
	background-color: #f4f4f4;
}

.zacks-help-content::-webkit-scrollbar-thumb
{
	border-radius: 6px;
	background-color: #38b665;
}

/*********************************
    ZACKS learnmore Modal
*********************************/
.zacks-learnmore-section{
    display: table;
    .zacks-learnmore-header{
        h4{
            @include web-font(Font-Regular, 26px, $brand-color, 60px, initial);
            text-align: center;
            padding-bottom: 12px;
        }
    }
    .zacks-learnmore-content{
        max-height: 548px;
        overflow-y: auto;
        padding-bottom: 30px;

        h4{
            @include web-font(Font-Regular, 26px, $brand-color, 60px, initial);
            padding-bottom: 12px;
        }
        p{
            @include web-font(Font-Light, 18px, $brand-text, 34px, initial);
        }
    }
}

.zacks-learnmore-section{
    display: table;
    padding: 40px 20px 0px;
    .zacks-learnmore-header{
        h4{
            @include web-font(Font-Regular, 26px, $brand-color, 60px, initial);
            text-align: center;
            padding-bottom: 12px;
        }
    }
    .zacks-learnmore-img{
        @include layout(3.5);

        .img-wrapper{
            position: relative;
            padding: 10px;
            cursor: pointer;

            img{
                border: 10px solid #fff;
                box-shadow: 0 0 10px rgba(0,0,0,0.2);
                border-radius: 50%;
            }

            h5{
                @include web-font(Font-Semi-Bold, 26px, $brand-title, 60px, initial);
                text-align: center;
            }
        }
    }
    .zacks-learnmore-content{
        @include layout(8.5);
        padding-bottom: 30px;
        padding-left: 40px;
        h5{
            @include web-font(Font-Semi-Bold, 16px, $brand-text, 34px, initial);
            padding: 15px 0px 10px;
            max-width: 882px;
            margin: 0 auto;
            border-top: 2px solid #f4f4f4;
        }
        p{
            @include web-font(Font-Light, 18px, $brand-text, 28px, initial);
            max-width: 882px;
            margin: 0 auto;
        }
    }
}

.zacks-learnmore-content::-webkit-scrollbar-track
{
	border-radius: 10px;
	background-color: #f4f4f4;
}

.zacks-learnmore-content::-webkit-scrollbar
{
	width: 7px;
	background-color: #f4f4f4;
}

.zacks-learnmore-content::-webkit-scrollbar-thumb
{
	border-radius: 6px;
	background-color: #38b665;
}

/*********************************
    Login Modal
*********************************/
.login-modal .ngdialog-content{
    max-width: 519px !important;
    width: 519px !important;

    @include media-queries-max(768px){
        max-width: 90% !important;
        width: 90% !important;
    }

    .form-element-controls{
        clear: both;
        display: table;
        margin: 0 auto;
    }

    p{
        padding: 5px 0px;
        @include web-font(Font-Light, 18px, $brand-title, 28px, initial);
        text-align: center;
    }

    h6{
        @include web-font(Font-Semi-Bold, 13px, $brand-color, 22px, 1px);
        text-align: center;
        text-transform: uppercase;
    }

    .form-group{
        padding: 10px 0px;
    }
    .form-element-controls{
        padding: 10px 0px;
    }

    .login-link{
        @include web-font(Font-Regular, 26px, $brand-color, 59px, initial);
        text-align: center;
        display: block;

        @include media-queries-max(768px){
            font-size: 20px;
            line-height: initial;
        }
    }

    .form-group-wrapper{
        padding-bottom: 0px;

        @include media-queries-max(768px){
            padding: 0;
        }
    }
}

/*********************************
    nG Dialog
*********************************/

.ngdialog.ngdialog-theme-plain .ngdialog-close:before{
    content: url('../../../images/close-modal.png');
}
.ngdialog-content{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.10);
}

.ngdialog-overlay{
    background: rgba(255, 255, 255, 0.8);
}

.sliderdemoBasicUsage input[type="number"] {
    text-align: center;
    padding-left: 10px;
}

.question{
    background-image: url('../../../images/question.png');
    width: 13px;
    height: 13px;
    position: absolute;
    bottom: 11px;
    margin-left: 8px;
}

li{
    .question{
        bottom: 8px;
    }
}

h4{
    .question{
        right: -20px;
        bottom: 4px;
    }
}

label{
    position: relative;
    .question{
        right: -20px;
        bottom: 3px;
    }
}

/*********************************
    Results Page
*********************************/

.zacks-result-header{
    padding: 50px 0px;
    border-top: 2px solid #f4f4f4;
    border-bottom: 2px solid #f4f4f4;
    background-image: url('../../../images/results-bg.png');
    @include img-cover();

    h4{
        @include web-font(Font-Regular, 26px, $brand-title, 42px, initial);
        text-align: center;
    }
    p{
        @include web-font(Font-Light, 18px, $brand-text, 34px, initial);
        text-align: center;
    }
}

.zacks-result-wrapper{

    padding: 15px 0px;

    .zacks-result-block{
        padding-left: 15px;
        padding-right: 15px;

        .zacks-result-text{
            padding: 40px 0px;
            p{
                @include web-font(Font-Light, 16px, $brand-text, 28px, initial);
                text-align: center;
                padding: 8px 0px;
            }
        }

        .zacks-result-graph{
            border: 8px solid #f4f4f4;
            padding: 20px;

            h4{
                @include web-font(Font-Semi-Bold, 20px, $brand-title, 42px, initial);
                text-align: center;
            }
            p{
                @include web-font(Font-Regular-Italic, 16px, $brand-text, 28px, initial);
                text-align: center;
            }
            .chart-container{
                margin-top: 25px;
            }
        }

        .zacks-decision-block{
            padding-top: 20px;
            h4{
                @include web-font(Font-Semi-Bold, 20px, $brand-title, 42px, initial);
            }
            p{
                @include web-font(Font-Light, 16px, $brand-text, 28px, initial);
            }
        }

        .zacks-decision-grid{
            margin-top: 35px;

            ul{
                display: table;
                width: 100%;
                border: 2px solid $brandline-color;
                li{
                    //display: table-cell;
                    @include layout(3);
                    text-align: center;
                    padding: 25px 0px;
                    border-right: 2px solid $brandline-color;
                    @include web-font(Font-Regular, 18px, $brand-text, 34px, initial);

                    &:last-child{
                        border: none;
                        @include layout(6, 60, 60);
                    }

                    .bar{
                        left: 0;
                    }

                    span.bubble.limit {
                        left: 0;
                    }

                    rzslider{
                        margin: 0;
                    }
                }

                &.header{
                    background-color: $brandline-color;
                    li{
                        text-transform: uppercase;
                        padding: 0px 0px;
                        border: none;
                        @include web-font(Font-Semi-Bold, 13px, $brand-text, 34px, initial);
                    }
                }
            }

            thead{
                background-color: $brandline-color;
                th{
                    text-transform: uppercase;
                    text-align: center;
                    padding: 0px 0px;
                    border: none;
                    @include web-font(Font-Semi-Bold, 13px, $brand-text, 34px, initial);
                }
            }
            tbody{
                border: 2px solid $brandline-color;
                td{
                    text-align: center;
                    padding: 25px 0px 15px;
                    border-right: 2px solid $brandline-color;
                    @include web-font(Font-Regular, 18px, $brand-text, 34px, initial);

                    &:last-child{
                        border: none;
                    }

                    .bar{
                        left: 0%;
                    }

                    .bubble{
                        &:first-of-type{
                            left: 0;
                        }
                    }
                }
            }
        }

        .zacks-decision-footer{
            display: table;
            width: 100%;
            padding: 10px 15px;
            border: 2px solid $brandline-color;
            border-top: 0px;
            border-bottom: 3px solid $brandline-color;

            h4{
                @include web-font(Font-Semi-Bold, 16px, $brand-text, 34px, initial);
                display: table-cell;

                @include media-queries-max(992px){
                    display: table;
                    width: 100%;
                }
            }
            span{
                display: table-cell;

                @include media-queries-max(992px){
                    display: table;
                    @include layout(4);
                }
            }
            a{
                @include web-font(Font-Semi-Bold, 13px, $brand-text, 21px, initial);
                text-align: center;
                margin: 0 auto;
                padding-left: 30px;
                position: relative;

                &:before{
                    content: url('../../../images/finish-tab.png');
                    position: absolute;
                    width: 13px;
                    height: 13px;
                    top: 2px;
                    left: 0;

                }
            }
        }
    }

    .checkbox-group{
        padding: 12px 0px;
    }

    .form-group-custom{
        padding-top: 0px;
        padding-left: 10px;
    }

    .form-element-text{
        p{
            @include web-font(Font-Light, 16px, $brand-text, 28px, initial);
            padding-top: 6px;
            padding-bottom: 30px;
        }
    }
}


/*********************************
    ZACKS FAQ MoDAL
*********************************/
.results-wrapper{

    @include media-queries-max(1200px){
        padding: 0px 15px;
    }

    .zacks-results-content{
        h5{
            @include web-font(Font-Semi-Bold, 16px, $brand-text, 34px, initial);
            padding: 10px 0px;
        }
        h6{
            @include web-font(Font-Light, 18px, $brand-text, 28px, initial);
        }
        v-pane-content{
            margin-top: -5px;
        }
    }

    .vAccordion--default v-pane.is-expanded > v-pane-header::before{
        content: url('../../../images/minus.png');
    }
    .vAccordion--default v-pane-header::after{
        content: url('../../../images/add_spouse.png');
    }

    v-accordion{
        width: 100%;
        max-width: none;
    }

    v-pane-content{
        padding: 0px 15px;

        .form-radio{
            margin: 6px 0px;
        }
    }

    .result-content{
        padding: 6px 0px;

        .checkbox-group{
            width: 33%;
            float: left;

            @include media-queries-max(768px){
                width: 100%;
            }
        }
    }

    .form-element-button{
        clear: both;
        padding-top: 25px;

        .btn{
            margin-left: 0;
        }
    }
}

.zacks-results-footer{
    display: table;
    width: 100%;
    padding: 10px 15px;
    border-top: 2px solid $brandline-color;
    border-top: 0px;
    border-top: 2px solid $brandline-color;

    h4{
        @include web-font(Font-Semi-Bold, 16px, $brand-text, 34px, initial);
        display: table-cell;

        @include media-queries-max(992px){
            display: table;
            width: 100%;
        }
    }
    span{
        display: table-cell;

        @include media-queries-max(992px){
            display: table;
            width: 100%;
        }
    }
    a{
        @include web-font(Font-Semi-Bold, 13px, $brand-text, 21px, initial);
        text-align: center;
        margin: 0 auto;
        padding-left: 30px;
        position: relative;

        &:before{
            content: url('../../../images/finish-tab.png');
            position: absolute;
            width: 13px;
            height: 13px;
            top: 2px;
            left: 0;

        }
    }
}

/*********************************
    ZACKS HOME PAGE
*********************************/
.zacks-homepage-wrapper{
    background-image: url('../../../images/home-transparent-bg.png');

    @include media-queries-max(992px){
        background-image: url('../../../images/mobile-bg.png');
        @include img-cover();
    }

    .show-small{
        display: none !important;
        @include media-queries-max(992px){
            display: block !important;
            max-width: 225px;
        }
    }

    @include img-cover();
    .zacks-homepage-container{

        @include media-queries-max(992px){
            margin-top: 15px;
        }

        .pb-small-50{
            @include media-queries-max(992px){
                padding-bottom: 50px;
            }
        }

        img{
            display: block;
            margin: 0 auto;
        }

        h4{
            @include web-font(Font-Semi-Bold, 40px, $brand-color, 49px, initial);
            padding-top: 40px;
            padding-bottom: 10px;
            max-width: 654px;
            span{
                @include web-font(Font-Semi-Bold-Italic, 40px, #22353a, 49px, initial);
            }

            position: absolute;
            top: 0px;

            @include media-queries-max(1200px){
                left: 25px;
            }

            @include media-queries-max(992px){
                position: relative;
                font-size: 28px;
                text-align: center;
                line-height: 38px;
                margin: 0 auto;
                left: 0px;

                span{
                    font-size: 28px;
                }
            }
        }
        p{
            @include web-font(Font-Semi-Bold-Italic, 26px, #333333, 60px, initial);
            position: absolute;
            top: 130px;

            &.home-center{
                padding-top: 320px;
                padding-left: 150px;

                @include media-queries-max(1200px){
                    padding-top: 280px;
                }
                @include media-queries-max(1108px){
                    padding-top: 240px;
                }
                @include media-queries-max(1048px){
                    padding-top: 207px;
                }
            }

            @include media-queries-max(1200px){
                left: 25px;
            }

            @include media-queries-max(992px){
                top: 0;
                position: relative;
                font-size: 18px;
                text-align: center;
                line-height: 26px;
                padding-top: 30px;
                left: 0;

                &.home-center{
                    padding-top: 10px;
                    padding-left: 0px;
                }
            }
        }
    }

    .zacks-homepage-block{
        position: relative;
        .boat{
            position: absolute;
            bottom: 0;
            left: 0;

            @include media-queries-max(992px){
                display: none;
            }
        }

        .yes{
            position: absolute;
            bottom: 30px;
            left: 30%;

            @include media-queries-max(992px){
                position: relative;
                display: block;
                margin: 0 auto;
                right: 0;
                left: 0;
            }
        }

        .no{
            position: absolute;
            bottom: 30px;
            left: 30%;

            @include media-queries-max(992px){
                position: relative;
                display: block;
                margin: 0 auto;
                right: 0;
                left: 0;
            }
        }

        .home-bg{
            position: relative;
            top: -50px;

            @include media-queries-max(992px){
                display: none;
            }
        }

        .hide{
            display: none;
        }
    }

    .zacks-homepage-footer{
        background-color: $brand-color;
        cursor: pointer;

        h4{
            @include web-font(Font-Semi-Bold-Italic, 26px, $default-color, 60px, initial);
            @include padding(7px, 0px);
            text-align: center;

            @include media-queries-max(992px){
                font-size: 18px;
                line-height: 26px;
            }

            img{
                position: relative;
                top: -3px;
                padding-left: 25px;
            }
        }
    }
}

.top-link{
    position: absolute;
    left: 20%;
    @include web-font(Font-Semi-Bold, 12px, #4c525b, 34px, initial);
    margin-top: -5px;
    img{
        padding-right: 10px;
    }

    @include media-queries-max(768px){
        position: relative;
        text-align: center;
        right: 0;
        left: 0;
        margin: 0 auto;
        display: block;
    }
}

.from-wrapper{
    @include media-queries-max(992px){
        //padding: 0px 15px;
    }
}

.form-group{

    .form-element-controls{
        @include media-queries-max(992px){
            width: 100%;
            display: table;
            max-width: 350px;
            margin: 0 auto;

            input{
                //display: block;
                margin: 0 auto;
                max-width: 350px;
                min-width: auto;
                width: 100%;
            }

            .input-price{
                width: 100%;
            }
        }
    }

    .form-element-text{
        @include media-queries-max(992px){
            padding-right: 0px;
            padding-bottom: 15px;
            width: 100%;
            display: table;

            p{
                text-align: center;
                font-size: 16px;
                line-height: 24px;
            }
        }
    }
}

.form-switch-controls .form-switch{
    @include media-queries-max(992px){
        display: table;
        margin: 0 auto;
    }
}

.loading-gif {
    display : block;
    position : fixed;
    z-index: 100;
    background-image : url('../../../images/spin.gif');
    background-color:#D3D3D3;
    opacity : 0.4;
    background-repeat : no-repeat;
    background-position : center;
    left : 0;
    bottom : 0;
    right : 0;
    top : 0;
}

.error_message{
    font-size: 14px;
    text-align: center;
    display: block;
    color: #eb4c4c;
}

.help-block{
    font-size: 14px;
    padding-left: 5px;
    display: block;
    color: #eb4c4c;
    margin-top: 10px;
}

.form-input-group span {
    padding: 0px 6px;

    @include media-queries-max(768px){
        display: block;
        width: 100%;
        float: none;
        text-align: center;
        margin: 10px 0px;
    }
}

.tooltips_wrapper{
    a.tooltips {
      position: relative;
      display: inline;
      top: -80px;
      left: -90px;
    }
    a.tooltips span {
      position: absolute;
      width:100px;
      color: #71777f;
      background: #FFFFFF;
      height: 44px;
      line-height: 11px;
      text-align: center;
      visibility: visible;
      border-radius: 0px;
      box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
      left: 20px;
    }
    a.tooltips span:after {
      content: '';
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -8px;
      width: 0; height: 0;
      /*border-top: 8px solid #FFFFFF;
      border-right: 8px solid transparent;
      border-left: 8px solid transparent;*/

    }
    a:hover.tooltips span {
      visibility: visible;
      opacity: 0.8;
      bottom: 30px;
      left: 50%;
      margin-left: -76px;
      z-index: 999;
    }
    a.tooltips span{
        @include web-font(Font-Semi-Bold, 8px, #71777f, 11px, 1px);
        text-transform: uppercase;
        @include padding(5px, 0px, 10px);
    }
    a.tooltips span i{
        font-size: 15px;
        font-style: normal;
        color: #38b665;
        display: block;
        text-align: center;
        padding-bottom: 5px;
    }
}

.form-radio{
    @include media-queries-max(992px){
        margin: 10px auto;
        display: table;
    }
}

.form-header-options{
    @include media-queries-max(768px){
        float: none;
        clear: both;
        margin-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
    }

    p{
        @include media-queries-max(768px){
            width: 100%;
            text-align: center;
        }
    }
}

.form-header{
    @include media-queries-max(768px){

        padding-left: 15px;
        padding-right: 15px;

        h4{
            font-size: 20px;
            line-height: 26px;
            float: none;
            text-align: center;
        }

        .form-radio{
            margin: 10px auto;
            display: table;
        }
    }
}

.form-group-header{
    @include media-queries-max(768px){
        h4{
            font-size: 16px;
            line-height: 22px;
        }
    }
}

.form-element-text{
    @include media-queries-max(768px){
        p{
            font-size: 16px;
            line-height: 22px;
        }
    }
}

.form-group-title{
    @include media-queries-max(768px){
        p{
            padding-left: 15px;
            padding-right: 15px;
            text-align: center;
        }
    }
}

.form-add-element{
    @include media-queries-max(768px){
        h4{
            padding-left: 15px;
            padding-right: 15px;
        }
    }
}

.zacks-decision-repeater{
    @include media-queries-max(768px){
        li:first-child{
            width: 50% !important;
        }

        li:nth-child(2){
            width: 50% !important;
        }

        li:nth-child(3){
            border-top: 2px solid #f4f4f4 !important;
            width: 100% !important;
        }
    }
}

.one-age-slider rzslider{
    margin: 0;
    min-width: 100px;
}

.results-wrapper .zacks-results-content h6{
  font-weight: 400;
}

.select-age-wrapper{
  margin-top: 30px;
  position: relative;
  display: table;
  width: 100%;

  .form-element-text{
    max-width: 200px;
    display: inline-block;
    float: left;
  }

  .form-element-controls.one-age-slider{
    min-width: 300px;
    display: inline-block;
    max-width: 300px;
  }
}

.c3-region.cashIn {
  fill:green
}

.c3-region.cashOut {
  fill:red
}

.set-editable {
  background-color: #fff;
}
.remove-editable {
  background-color: #f4f4f4;
}

.zacks-result-graph .zacks-graph-section v-pane-content {
  margin-top: -7px;
}

.zacks-graph-section .vAccordion--default v-pane.is-expanded > v-pane-header::before {
  content: url("../../../images/minus.png");
  left: 1px;
}

.zacks-graph-section .vAccordion--default v-pane-header::after {
  content: url("../../../images/add_spouse.png");
  left: 1px;
}

.zacks-result-graph .zacks-graph-section h5 {
  line-height: 34px;
  padding: 10px 40px;
}
