<!DOCTYPE html>
<html ng-app="roadtripo">
    <head>
        <title>Roadtripo</title>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.2/angular.js"></script>
        <script src="app/app.js" type="text/javascript"></script>
        <script src="app/factory.js" type="text/javascript"></script>
        <script src="app/services.js" type="text/javascript"></script>
    </head>
    <body >
        <div ng-controller="myController">

            <div class="listCities">
                <ul ng-repeat="city in data">
                	<li ng-click="getPlacesofCities('', city.lat, city.lng)">Name: {{city.city}}, Lat: {{city.lat}}, Lng: {{city.lng}}</li>
                </ul>
            </div>

            <div class="listPlaces">

            </div>
        </div>
    </body>
</html>
