/*********************************
    Elements - Forms
*********************************/
.from-wrapper{
    /*margin-top: 40px;
    margin-bottom: 30px;*/
}
.form-header{
    clear: both;
    display: table;
    width: 100%;
    position: relative;
    margin-top: 50px;
    &:before{
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        top: 45%;
        z-index: -1;
        background-color: #f4f4f4;
    }

    h4{
        font-size: 26px;
        color: #38b665;
        line-height: 42px;
        letter-spacing: initial;
        font-family: "Open Sans";
        font-weight: 400;
        font-style: normal;
        float: left;
        background: #fff;
        padding-right: 25px;
    }

    .form-radio{
        display: inline-block;
        margin-top: 0px;

        label:nth-of-type(2){
            margin-right: 0px;
        }
    }
}
.form-header-options{
    float: right;
    padding-top: 12px;
    background-color: #fff;
    padding-left: 25px;
    p{
        font-size: 16px;
        color: #71777f;
        line-height: 34px;
        letter-spacing: initial;
        font-family: "Open Sans";
        font-weight: 600;
        font-style: normal;
        float: left;
        margin-top: -5px;
        margin-right: 10px;

        a{
            float: left;
            margin-top: -5px;
            img{
                padding-left: 20px;
                margin-top: 0px;
                float: right;
            }
        }
    }

}
.form-body{
    clear: both;

    .form-group-header{
        background-color: #f4f4f4;
        clear: both;
        padding: 3px 20px;
        margin-top: 20px;
        h4{
            font-size: 20px;
            color: #4c525b;
            line-height: 42px;
            letter-spacing: initial;
            font-family: "Open Sans";
            font-weight: 600;
            font-style: normal;
            float: left;

            span{
                font-size: 18px;
                color: #4c525b;
                line-height: 42px;
                letter-spacing: initial;
                font-family: "Open Sans";
                font-weight: 400;
                font-style: normal;
            }
        }

        a{
            float: right;
            font-size: 16px;
            color: #71777f;
            line-height: 34px;
            letter-spacing: initial;
            font-family: "Open Sans";
            font-weight: 600;
            font-style: normal;
            padding-top: 5px;

            img{
                float: right;
                margin-left: 10px;
                margin-top: 2px;
            }
        }
    }

    .form-group-header:after {
       content: ".";
       visibility: hidden;
       display: block;
       height: 0;
       clear: both;
    }
    .form-group-header + *{
        clear: both;
    }

    .form-info-header{
        padding: 20px 20px 0px 20px;
        h4{
            font-size: 18px;
            color: #4c525b;
            line-height: 22px;
            letter-spacing: initial;
            font-family: "Open Sans";
            font-weight: 600;
            font-style: normal;
            float: left;
            //display: inline-block;
            position: relative;
        }
    }

    .form-group-title{
        clear: both;
        p{
            font-size: 14px;
            color: #71777f;
            line-height: 24px;
            letter-spacing: initial;
            font-family: "Open Sans";
            font-weight: 600;
            font-style: italic;
        }
    }
}
.form-body:after {
   content: ".";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}
.form-body + *{
    clear: both;
}
.form-group-wrapper{
    padding: 20px 20px 40px 20px;

    &.border{
        border: 2px solid #f4f4f4;
    }

    &.border-top{
        border-top: 1px solid #f4f4f4;
    }
}

.border-top{
    border-top: 1px solid #f4f4f4;
}

.border-bottom{
    border-top: 1px solid #f4f4f4;
}

.form-group{
    clear: both;
    padding: 24px 0px;
    display: table;
    width: 100%;

    .form-element-text{
        width: 62%;
        display: table-cell;
        float: none;
        vertical-align: middle;
        padding-right: 42px;

        p{
            font-size: 18px;
            color: #71777f;
            line-height: 34px;
            letter-spacing: initial;
            font-family: "Open Sans";
            font-weight: 400;
            font-style: normal;
            position: relative;
        }

    }
    .form-element-controls{
        width: 38%;
        display: table-cell;
        float: none;
        vertical-align: middle;
    }
    .form-element-info{
        border-top: 2px solid #f4f4f4;
        border-bottom: 2px solid #f4f4f4;
    }
}
/*********************************
    Elements - Radio Button
*********************************/
.form-radio {
    position: relative;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;

    input{
        display: none;
        position: absolute;
        margin-left: -20px;
        margin: 4px 0 0;
        margin-top: 1px;
        line-height: normal;
        cursor: pointer;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    label{
        font-size: 18px;
        color: #71777f;
        line-height: initial;
        letter-spacing: initial;
        font-family: "Open Sans";
        font-weight: 400;
        font-style: normal;
        display: inline-block;
        cursor: pointer;
        position: relative;
        padding-left: 37px;
        margin-right: 30px;
        margin-bottom: 6px;
        min-height: 20px;
        font-weight: 400;

        &:before {
            content: "";
            display: inline-block;
            width: 18px;
            height: 18px;
            margin-right: 10px;
            position: absolute;
            left: 0;
            bottom: 2.5px;
            background-color: #ffffff;
            border: 1px solid #dbdbdb;
            border-radius: 99px;
        }
        &:after {
            font-size: 13px;
            content: "";
            text-align: center;
            display: inline-block;
            width: 10px;
            height: 10px;
            position: absolute;
            -o-transform: scale(0);
            -ms-transform: scale(0);
            -moz-transform: scale(0);
            -webkit-transform: scale(0);
            transform: scale(0);
            border-radius: 99px;
            left: 5px;
            top: 7px;
            background-color: #38b665;
        }
    }

    input[type=radio]:checked+label:before{
        border: 1px solid #38b665;
    }

    input[type=radio]:checked+label:after{
        -o-transform: scale(1);
        -ms-transform: scale(1);
        -moz-transform: scale(1);
        -webkit-transform: scale(1);
        transform: scale(1);
        line-height: 18px;
        -o-transition: -o-transform 0.1s 0s cubiform-bezier(0.455,0.03,0.215,1.33);
        -ms-transition: -ms-transform 0.1s 0s cubiform-bezier(0.455,0.03,0.215,1.33);
        -moz-transition: -moz-transform 0.1s 0s cubiform-bezier(0.455,0.03,0.215,1.33);
        -webkit-transition: -webkit-transform 0.1s 0s cubiform-bezier(0.455,0.03,0.215,1.33);
        -o-transition: transform 0.1s 0s cubiform-bezier(0.455,0.03,0.215,1.33);
        -ms-transition: transform 0.1s 0s cubiform-bezier(0.455,0.03,0.215,1.33);
        -moz-transition: transform 0.1s 0s cubiform-bezier(0.455,0.03,0.215,1.33);
        -webkit-transition: transform 0.1s 0s cubiform-bezier(0.455,0.03,0.215,1.33);
        transition: transform 0.1s 0s cubiform-bezier(0.455,0.03,0.215,1.33);
    }
}

/*********************************
    Elements - Input Text
*********************************/
.form-input{
    border-radius: 20px;
    border: 1px solid #dbdbdb;
    padding: 7px 30px;
    font-size: 18px;
    color: #71777f;
    line-height: 18px;
    letter-spacing: initial;
    font-family: "Open Sans";
    font-weight: 400;
    font-style: normal;
    width: 190px;
    text-align: left;
}

.form-input-group{
    input{
        width: 160px;
    }
    span{
        padding: 0px 12px;
    }
}

.input-price{
    position: relative;
    display: table;
    border-collapse: separate;

    .input-group-addon{
        display: table-cell;
        position: absolute;
        left: 30px;
        top: 12px;
        color: #dbdbdb;
    }
    input{
        padding-left: 45px;
        padding-right: 15px;
        min-width: 300px;
    }
}

/*********************************
    Elements - Select Dropdown
*********************************/
.form-select{
    border-radius: 20px;
    border: 1px solid #dbdbdb;
    padding: 7px 30px;
    font-size: 18px;
    color: #71777f;
    line-height: 18px;
    letter-spacing: initial;
    font-family: "Open Sans";
    font-weight: 400;
    font-style: normal;
    outline: none;
    min-width: 300px;
}

/**
 * Author: Kris Olszewski
 * CodePen: http://codepen.io/KrisOlszewski/full/wBQBNX
 */

.form-dropdown {
  position: relative;
  display: inline-block;
  text-align: left;
}

.form-dropdown__list {
  margin: 12px 0 0 0;
  padding: 6px 0;
  list-style: none;
  position: absolute;
  top: 125%;
  left: 0;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  border-radius: 3px;
  background: #fff;
  transition: opacity .25s linear, top .25s linear;
  z-index: 1;
  box-shadow: 2px 2px 10px #E6E6E6;
  border-radius: 15px;

  .form-dropdown.is-open & {
    opacity: 1;
    visibility: visible;
    top: 100%;
  }
}

.form-dropdown__item {
  padding: 6px 5px 6px 34px;
  font-size: 14px;
  line-height: 20px;
  cursor: pointer;
  color: #434A54;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: background-color .25s linear;
  &:hover {
    background-color: #f4f4f4;
  }
}

/**
 * Component: Button
 * --------------------------------------------------
 */

.form-select-button {
  -webkit-appearance: none;
  margin: 0;
  border: 0;
  overflow: visible;
  font: inherit;
  text-transform: none;
  display: inline-block;
  vertical-align: middle;
  text-decoration: none;
  text-align: center;
  user-select: none;
  &:hover,
  &:focus {
    outline: none;
    text-decoration: none;
  }
  &:not(:disabled) {
    cursor: pointer;
  }
}

/**
 * Component: Button
 * Modifier: Dropdown
 * --------------------------------------------------
 */

.form-select-button--dropdown {
    border-radius: 20px;
    border: 1px solid #dbdbdb;
    padding: 11px 30px;
    font-size: 18px;
    color: #71777f;
    line-height: 18px;
    letter-spacing: initial;
    font-family: "Open Sans";
    font-weight: 400;
    font-style: normal;
    outline: none;
    min-width: 300px;
    text-align: left;

      &:after {
        content: url(../../../images/dd-icon.png);
        position: absolute;
        top: 9px;
        right: 25px;
        width: 10px;
        height: 6px;
      }
}
/*********************************
    Elements - Slider
*********************************/

.form-slider{
    .input-slider{
        height: 10px;
        background: #dbdbdb;
        border: none;
        border-radius: 6px;

        span{

            border-radius: 50%;
            width: 25px;
            height: 25px;
            top: -7px;
            border: 1px solid #38b665;
            box-shadow: 2px 0px 2px rgba(0,0,0,0.15);
            background-color: #fff;
            background: #fff; /* For browsers that do not support gradients */
            //background: -webkit-linear-gradient(-180deg, #fff, rgba(0,0,0,0.15)); /* For Safari 5.1 to 6.0 */
            //background: -o-linear-gradient(-180deg, #fff, rgba(0,0,0,0.15)); /* For Opera 11.1 to 12.0 */
            //background: -moz-linear-gradient(-180deg, #fff, rgba(0,0,0,0.15)); /* For Firefox 3.6 to 15 */
            //background: linear-gradient(-180deg, #fff, rgba(0,0,0,0.15)); /* Standard syntax */
            //z-index: 10;

            &:after{
                content: '';
                position: absolute;
                width: 25px;
                height: 25px;
                //border: 1px solid #cccccc;
                //border-radius: 50%;
                margin-left: 2px;
                margin-top: 2px;
                z-index: 11;
                background-position: -3px -3px;
                background-image: url('../../../images/slider-bg.png');
            }
        }

    }
}

.tooltip {
    position: absolute;
    z-index: 1020;
    display: block;
    visibility: visible;
    bottom:100%;
    margin-left: 3px;
}

.tooltip-inner {
    max-width: 200px;
    font-size: 15px;
    color: #38b665;
    line-height: 34px;
    letter-spacing: initial;
    font-family: "Open Sans";
    font-weight: 600;
    font-style: normal;
    text-align: center;
    text-decoration: none;
    background-color: transparent;
}
.start-value{
    font-size: 18px;
    color: #71777f;
    line-height: 34px;
    letter-spacing: initial;
    font-family: "Open Sans";
    font-weight: 500;
    font-style: normal;
}
.end-value{
    font-size: 18px;
    color: #71777f;
    line-height: 34px;
    letter-spacing: initial;
    font-family: "Open Sans";
    font-weight: 500;
    font-style: normal;
    float: right;
}

/*********************************
    Elements - Slider
*********************************/
.form-switch i:before, .form-switch i:after {
    content: '';
    background-position: -1px -1px;
}
.form-switch {
    position: relative
}
.form-switch {
    display: inline-block;
    width: 32px;
    height: 18px;
    border-radius: 13px;
    background-color: #6cc788;
    margin: 0
}

.form-switch i:before {
    position: absolute;
    background-color: #fff;
    background-image: url('../../../images/slider-bg.png');
}
.form-switch i:after {
    position: absolute;
    //background-color: #fff
}
.form-switch input {
    position: absolute;
    opacity: 0
}
.form-switch input:checked+i:after {
    top: 50%;
    bottom: 50%;
    left: 50%;
    right: 5px;
    border-width: 0;
    border-radius: 5px
}
.form-switch input:checked+i:before {
    margin-left: 15px
}
.form-switch i:after {
    /*top: -1px;
    bottom: -1px;
    left: -1px;
    right: -1px;
    border: 1px solid #f0f0f0;
    border-radius: 30px;
    -webkit-transition: all .2s;
    transition: all .2s*/

}

.form-switch i:before {
    border-radius: 50%;
    content: ""
}
.form-switch i:before {
    width: 23px;
    height: 23px;
    top: 0px;
    bottom: 1px;
    left: 1px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, .25);
    -webkit-transition: margin .3s;
    transition: margin .3s;
    border: 1px solid #6cc788;
}
.form-switch-md {
    width: 40px;
    height: 24px
}
.form-switch-md input:checked+i:before {
    margin-left: 17px
}
.form-switch-md i:before {
    width: 22px
}
.form-switch-lg {
    width: 50px;
    height: 26px
}
.form-switch-lg input:checked+i:before {
    margin-left: 23px
}
.form-switch-lg i:before {
    width: 23px
}

/*********************************
    Elements - Form Checkbox
*********************************/
input[type=checkbox].css-checkbox {
position:absolute;
z-index:-1000;
left:-1000px;
overflow:hidden;
clip:rect(0000);
height:1px;
width:1px;
border:0;
margin:-1px;
padding:0;
}

input[type=checkbox].css-checkbox + label.css-label {
padding-left:35px;
height:19px;
display:inline-block;
line-height:19px;
background-repeat:no-repeat;
background-position:0 0;
//font-size:19px;
vertical-align:middle;
cursor:pointer;
}

input[type=checkbox].css-checkbox:checked + label.css-label {
background-position:0 -19px;
}

label.css-label {
background-image:url(../../../images/checkbox.png);
-webkit-touch-callout:none;
-webkit-user-select:none;
-khtml-user-select:none;
-moz-user-select:none;
-ms-user-select:none;
user-select:none;
}

.checkbox-radio-option{
    padding-left: 35px;
}
.css-label{
    font-size: 16px;
    color: #71777f;
    line-height: 20px;
    letter-spacing: initial;
    font-family: "Open Sans";
    font-weight: 600;
    font-style: normal;
}

.checkbox-radio-option p{
    font-size: 14px;
    color: #71777f;
    line-height: 20px;
    letter-spacing: initial;
    font-family: "Open Sans";
    font-weight: 400;
    font-style: normal;
    padding-top: 6px;
}

.checkbox-radio-option .form-radio{
    margin-bottom: 0px;
}

.checkbox-group{
    padding: 8px 0px;
}
/*********************************
    Elements - Form Add Element
*********************************/
.form-add-element{
    display: table;
    width: 100%;
    border-top: 1px solid #f4f4f4;
    border-bottom: 1px solid #f4f4f4;
    padding-top: 20px;
    padding-bottom: 10px;
    cursor: pointer;
    h4{
        font-size: 16px;
        color: #71777f;
        line-height: 32px;
        letter-spacing: initial;
        font-family: "Open Sans";
        font-weight: 600;
        font-style: normal;
        float: left;
    }
    span{
        float: left;
        padding-right: 18px;
    }
}

p.italic{
    font-size: 14px;
    color: #71777f;
    line-height: 24px;
    letter-spacing: initial;
    font-family: "Open Sans";
    font-weight: 600;
    font-style: italic;
    max-width: 545px;
}
