<section class="homePage">
    <div class="full-screen-section">
        <div class="full-screen-wrapper">
            <div class="container">
                <div class="full-screen-block">
                    <h1>Its time for a trip</h1>
                    <h4>Make a iteneray with RoadTripo and keep travelling.</h4>
                    <div class="form-group">
                        <div class="form-input">
                            <input type="text" ng-model="source" ng-autocomplete="source" details="sourceDetails" placeholder="Start"/>
                            <input type="text" ng-model="destination" ng-autocomplete="destination" details="destinationDetails"  placeholder="Destination"/>
                        </div>
                        <div class="form-button">
                            <button type="button" ng-disabled="!(!!source || !!destination);" ng-click="planTrip()">Start Trip</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="explore-videos-section">
        <div class="explore-videos-wrapper">
            <div class="container">
                <div class="explore-videos-block">
                    <h4>Explore Places</h4>
                    <p>Discover places with authentic experience.</p>

                    <div class="explore-videos">
                        <h4>Featured Cities</h4>
                        <div class="videos-gallery" ng-if="exploreCities.length > 0">
                            <slick dots="true" infinite="false" speed="300" slides-to-show="5" touch-move="false" slides-to-scroll="1">
                                <div class="item" ng-repeat="exploreCity in exploreCities" ui-sref="trip.cities({ search: '{{exploreCity.cityNameId}}'})">
                                    <div class="city-image" style="background-image: url('images/trips/{{exploreCity.cityImage}}')">
                                        <h5>{{exploreCity.cityName}}</h5>
                                    </div>
                                </div>
                            </slick>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="explore-places-section">
        <div class="explore-places-wrapper">
            <div class="container">
                <div class="explore-places-block">
                    <h4>Explore Trips</h4>
                    <p>Discover on and off the road with the country's most classic drives.</p>

                    <div class="explore-left-block" ui-sref="trip.route({ routeID: 1})">
                        <div class="single-explore-block">
                            <figure>
                                <img src="images/explore-1.png" alt="img18">
                                <figcaption>
                                    <h2>Lake Havasu</h2>
                                    <p>From Pheonix</p>
                                </figcaption>
                            </figure>
                        </div>
                    </div>
                    <div class="explore-right-block">
                        <div class="explore-top-right-block">
                            <div class="single-explore-block" ui-sref="trip.route({ routeID: 13})">
                                <figure>
                                    <img src="images/explore-2.png" alt="img18">
                                    <figcaption>
                                        <h2>Monument Valley</h2>
                                        <p>From Los Angeles</p>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="single-explore-block" ui-sref="trip.route({ routeID: 14})">
                                <figure>
                                    <img src="images/explore-3.png" alt="img18">
                                    <figcaption>
                                        <h2>Rocky Mountain</h2>
                                        <p>From Denver</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </div>
                        <div class="explore-bottom-right-block">
                            <div class="single-explore-block" ui-sref="trip.route({ routeID: 15})">
                                <figure>
                                    <img src="images/explore-4.png" alt="img18">
                                    <figcaption>
                                        <h2>Anchorage</h2>
                                        <p>From Seatle</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </div>

                    </div>
                    <div class="explore-full-block">
                        <div class="single-explore-block" ui-sref="trip.route({ routeID: 20})">
                            <figure>
                                <img src="images/explore-7.png" alt="img18">
                                <figcaption>
                                    <h2>San Fransisco</h2>
                                    <p>San Diego</p>
                                </figcaption>
                            </figure>
                        </div>
                        <div class="single-explore-block" ui-sref="trip.route({ routeID: 17})">
                            <figure>
                                <img src="images/explore-5.png" alt="img18">
                                <figcaption>
                                    <h2>Lake Louise</h2>
                                    <p>From Calgary</p>
                                </figcaption>
                            </figure>
                        </div>
                        <div class="single-explore-block" ui-sref="trip.route({ routeID: 17})">
                            <figure>
                                <img src="images/explore-6.png" alt="img18">
                                <figcaption>
                                    <h2>Lake Louise</h2>
                                    <p>From Calgary</p>
                                </figcaption>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="explore-roadtrip-section">
        <div class="explore-roadtrip-wrapper">
            <div class="container">
                <div class="explore-roadtrip-header">
                    <h4>Recommended Places</h4>
                    <p>Discover on and off the road with the country's most classic drives.</p>
                </div>
                <div class="explore-roadtrip-block">
                    <div class="single-roadtrip-block" ng-mouseover="mouseover(1)" ng-class="hoverActive[0]" ui-sref="trip.state({ search: 'MT'})">
                        <div class="explore_montana bg-img"></div>
                        <div class="explore-roatrip-content">
                            <h4 data-letters="Montana">Montana</h4>
                        </div>
                    </div>
                    <div class="single-roadtrip-block" ng-mouseover="mouseover(2)" ng-class="hoverActive[1]" ui-sref="trip.state({ search: 'AZ'})">
                        <div class="explore_arizona bg-img"></div>
                        <div class="explore-roatrip-content">
                            <h4 data-letters="Arizona">Arizona</h4>
                        </div>
                    </div>
                    <div class="single-roadtrip-block" ng-mouseover="mouseover(3)" ng-class="hoverActive[2]" ui-sref="trip.state({ search: 'CA'})">
                        <div class="explore_cali bg-img"></div>
                        <div class="explore-roatrip-content">
                            <h4 data-letters="California">California</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="explore-footer-section">
        <div class="explore-footer-wrapper">
            <div class="container-fluid">
                <div class="explore-footer-block">
                    <div class="explore-map-block">
                    </div>

                    <div class="explore-share-block">
                        <h4>Planning a USA Road Trip</h4>
                        <p>Check out the entertaining stories, beautiful images, and useful travel tips for you from around the world! </p>
                        <a  ui-sref="trip.state({ search: ''})" class="btn">Explore</a>
                    </div>
                </div>

                <div class="footer-block">
                    <div class="footer-logo">
                        <img src="images/logo.png"/>
                    </div>
                    <div class="footer-links">
                        <ul>
                            <li><a href="#">Contact</a></li>
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">Trips</a></li>
                            <li><a href="#">Explore</a></li>
                            <li><a href="#">About</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
