<section class="myTrips">
    <div class="nav-wrapper left-small">
        <div class="left-nav">
            <a ng-click="viewHomePage()"><img src="images/logo-dark.png"/></a>
        </div>
        <div class="right-nav">
            <ul>
                <li><a class="my-trips" ng-click="viewUserTrips()">My Trip </a></li>
            </ul>
        </div>
    </div>

    <div class="filter-sidebar-section">
        <div class="filter-nav">
            <ul>

            </ul>
        </div>
    </div>

    <div class="main-container-section">
        <div class="main-container-header">
            <h6>Customize</h6>
            <h1>My Trips</h1>
            <p ng-if="alltrips.length < 1">Sorry! No Trips found.</p>
            <p ng-if="alltrips.length > 0">&nbsp;</p>
        </div>

        <div class="list-places-wrapper">
            <div class="full-width-container">
                <div class="list-places-block">
                    <div class="masonry-block">
                        <div class="places-block" ng-repeat="trips in alltrips track by $index">
                            <div class="individual-place-block item">
                                <div class="individual-place-block-wrapper">
                                    <div class="place-image-block animated SlideInUp">
                                        <div class="img-photo" ng-repeat="pitstop in trips.trip_details track by $index" style="background-image:url({{pitstop.photo}});"></div>
                                        <div class="img-cover"></div>
                                    </div>
                                    <div class="place-content-block">
                                        <h4>{{trips.trip_name}}</h4>

                                        <div class="distance-price-block">
                                            <div class="distance-price-left-block">
                                                {{place.distance}}<span>Miles</span>
                                            </div>
                                            <div class="distance-price-right-block">
                                                <ul>
                                                    <li>{{trips.trip_start}}</li>
                                                    <li>{{trips.trip_end}}</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="place-button">
                                        <a ng-click="viewDetails(trips.trip_id)">View Details</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
