<section class="listCities">

    <div class="full-screen-section explore">
        <video-bg playlist="videos" allow-click-events="true" player-callback="callback(player)">
            <div class="full-screen-banner" style="background-image: url({{exploreCityImage}});">
                <div class="full-screen-wrapper">
                    <div class="container">
                        <div class="full-screen-block explore">
                            <h4>Explore</h4>
                            <img ng-click="playVideo()" ng-if="playIcon" src="../../../images/play.png"/>
                            <h1>{{exploreCityName}}</h1>
                        </div>
                    </div>
                </div>
            </div>
        </video-bg>
    </div>


    <div class="main-container-section">
        <div class="explore-cities-wrapper">
            <div class="container">
                <div class="explore-cities-block">

                    <div class="explore-block" ng-if="exploreCityFoods.length > 0">
                        <h4>Food & Drinks</h4>
                        <div class="explore-block-list">
                            <slick dots="true" infinite="false" speed="300" slides-to-show="5" touch-move="false" slides-to-scroll="1">
                                <div class="item" ng-repeat="exploreCityFood in exploreCityFoods" ui-sref="trip.explorefood({ city: '{{exploreCityName}}', type: '{{exploreCityFood.foodType}}', placename: '{{exploreCityFood.foodNameId}}'})">
                                    <div class="city-image" style="background-image: url('images/food/{{exploreCityFood.foodImage}}')">
                                        <h5>{{exploreCityFood.foodName}}</h5>
                                    </div>
                                </div>
                            </slick>
                        </div>
                    </div>

                    <div class="explore-block" ng-if="exploreCityAdventures.length > 0">
                        <h4>Adventure</h4>
                        <div class="explore-block-list">
                            <slick dots="true" infinite="false" speed="300" slides-to-show="5" touch-move="false" slides-to-scroll="1">
                                <div class="item" ng-repeat="exploreCityAdventure in exploreCityAdventures" ui-sref="trip.places({ city: '{{exploreCityName}}', type: '{{exploreCityAdventure.adventureType}}', placename: '{{exploreCityAdventure.adventureNameId}}'})">
                                    <div class="city-image" style="background-image: url('images/adventure/{{exploreCityAdventure.adventureImage}}')">
                                        <h5>{{exploreCityAdventure.adventureName}}</h5>
                                    </div>
                                </div>
                            </slick>
                        </div>
                    </div>

                    <div class="explore-block" ng-if="exploreCityAttractions.length > 0">
                        <h4>Attractions</h4>
                        <div class="explore-block-list">
                            <slick dots="true" infinite="false" speed="300" slides-to-show="5" touch-move="false" slides-to-scroll="1">
                                <div class="item" ng-repeat="exploreCityAttraction in exploreCityAttractions" ui-sref="trip.exploreattractions({ city: '{{exploreCityName}}', type: '{{exploreCityAttraction.attractionsType}}', placename: '{{exploreCityAttraction.attractionsNameId}}'})">
                                    <div class="city-image" style="background-image: url('images/adventure/{{exploreCityAttraction.attractionsImage}}')">
                                        <h5>{{exploreCityAttraction.attractionsName}}</h5>
                                    </div>
                                </div>
                            </slick>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
